@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
  background: #f6faff;
}
td {
  @apply whitespace-nowrap text-center px-4 py-2 text-gray-700;
}
th {
  @apply whitespace-nowrap px-4 py-2 font-medium text-blue-600;
}
label {
  @apply block text-sm font-medium text-blue-600;
}
.modal h3 {
  @apply text-blue font-semibold;
}
.modal span {
  @apply font-medium text-gray-500;
}

.modal p {
  @apply text-gray-500;
}